<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        /* Custom CSS for hoverable dropdown menu */
        .nav-item:hover .dropdown-menu {
            display: block;
        }
        .center-text {
            text-align: center;
            font-size: larger;
            margin-top: 50px;
        }
        /* CSS for the logo image */
        .logo-image {
            width: 300px; /* Adjust this value as needed */
        }
        .logo-image2 {
            width: 300px;
        }
        /* CSS for the DICT text */
        .dict-text {
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>
<body>

<header id="home">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/booking">Insert Process</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/examinees">Examinees</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if session.username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome, {{ session.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 dict-text">DICT</h1>
                <p class="lead">This is a <span class="font-italic">web-based</span>, <span class="font-italic">CRUD</span> automation <span class="font-italic">system</span> that automates examinee data.</p>
                <p class="lead"> a web page that provides a user interface for searching and filtering data in a Database </p>
                <a class="btn btn-primary" href="/examinees" role="button">Start Now</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 center-text">
                <p>Powered By:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 center-text">
                <img class="logo-image" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/DICT-Logo-Final-2-300x153.png" alt="Logo">
                <img class="logo-image2" src="static/img/ilcdb_logo.png" alt="">
            </div>
        </div>
    </div>
</header>

<!-- Include Bootstrap and jQuery JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
